//Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

$LightColor:#fefef7;
$back:#4f5153dc;  
$background:linear-gradient(rgba(82, 102, 133, 0.9),rgba(226, 181, 31, 0.15)) ;



$yellow:rgba(253, 250, 59, 0.911);
$box:#d9e25c;

$black:#090909;